title: Nitish Jadia
email: nitish@jadia.dev
description: >- # this means to ignore newlines until "baseurl:"
  A blog where I publish posts about my learnings on software development, my thoughts, my ideas and topics that I find interesting.
baseurl: ""
url: "https://jadia.dev"
permalink: /:categories/:year/:month/:day/:title

# Logo & images
# logo: /assets/socialIcon.png
logo: /assets/ms-icon-310x310.png
defaults:
  - scope:
      path: ""
    values:
      # image: /assets/socialIcon.png
      image: /assets/ms-icon-310x310.png

# Author
author:
  name: Nitish Jadia
  url: https://jadia.dev
  email: nitish@jadia.dev
  twitter: nitishjadia

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed
  - jemoji
  - jekyll-sitemap
  - jekyll-paginate

sass:
  sass_dir: _scss
  style: :compressed

include:
  - _pages
header_pages:
  - _pages/about.md
  - _pages/archive.md
  - _pages/tags.md

footer-links:
  rss: rss
  twitter: nitishjadia
  github: jadia
  email: nitish@jadia.dev
  # facebook:
  linkedin: jadianitish
  #instagram: 

# Exclude from processing.
exclude:
  - Gemfile
  - Gemfile.lock
  - vendor
  - Dangerfile

# Google Analytics
google_analytics: UA-61932410-4

# Disqus
disqus:
  shortname: jadia-dev

social:
  - name: Twitter
    icon: twitter
    desc: Follow me on Twitter
    share: true

  - name: Facebook
    icon: facebook
    desc: Friend me on Facebook
    share: true

  - name: LinkedIn
    icon: linkedin
    desc: Connect with me on LinkedIn
    share: true

# Pagination
pagination:
  enabled: true
  collection: 'posts'
  per_page: 7
  permalink: '/page/:num/'
  sort_field: 'date'
  sort_reverse: true

twitter:
  username: nitishjadia
  card: summary

compress_html:
  clippings: []
  comments: []
  endings: []
  ignore:
    envs: []
  blanklines: false
  profile: false
  startings: []

collections:
  til:
    output: true
    output_tags: true
  howto:
    output: true
    output_tags: true

jekyll_compose:
  default_front_matter:
    drafts:
      description: 
      tags: []
      image: 
          path: /assets/social-devops-python-preview.png
          width: 1200
          height: 628
      twitter:
          card: summary_large_image
    posts:
      description: 
      tags: []
      image: 
          path: /assets/social-devops-python-preview.png
          width: 1200
          height: 628
      twitter:
          card: summary_large_image